<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ProjNet" publicKeyToken="a1f5bdcd9c6f5740" />
        <bindingRedirect oldVersion="1.2.0.0-1.2.65535.65535" newVersion="1.2.4455.27045" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>