<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RecordsSource" connectionString="Data Source=.\SQLEXPRESS;AttachDbFileName=|DataDirectory|Csw202TestData.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MFConceptualEntities" connectionString="metadata=res://*/Models.ModelFirst.RecordsModel.csdl|res://*/Models.ModelFirst.RecordsModel.ssdl|res://*/Models.ModelFirst.RecordsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Csw202TestData.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="GeoSik.WebSample.Services.Ows" behaviorConfiguration="ows100PoxBehavior">
        <endpoint address="" contract="GeoSik.WebSample.Services.IOwsGetMethod" binding="webHttpBinding" behaviorConfiguration="poxBehavior" />
      </service>
      <service name="GeoSik.WebSample.Services.Csw" behaviorConfiguration="ows100PoxBehavior">
        <endpoint address="xml" contract="GeoSik.WebSample.Services.ICsw" binding="webHttpBinding" behaviorConfiguration="poxBehavior" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="poxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ows200PoxBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <ows200PoxFaultBehavior />
        </behavior>
        <behavior name="ows100PoxBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <ows100PoxFaultBehavior />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <owsFaultBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="owsFaultBehavior" type="GeoSik.Ogc.Ows.ServiceModel.FaultBehaviorExtensionElement, GeoSik.Services" />
        <add name="ows100PoxFaultBehavior" type="GeoSik.Ogc.Ows.ServiceModel.Ows100PoxFaultBehaviorExtensionElement, GeoSik.Services" />
        <add name="ows200PoxFaultBehavior" type="GeoSik.Ogc.Ows.ServiceModel.Ows200PoxFaultBehaviorExtensionElement, GeoSik.Services" />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="services" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="services" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="services" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs\WebSample.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="group" xsi:type="SplitGroup">
        <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/WebSample.log" keepFileOpen="false" encoding="UTF-8" />
        <target name="debug" xsi:type="OutputDebugString" layout="${longdate} ${logger} ${message}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>