<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="OgcToolkit.WebSample.Services.Ows" behaviorConfiguration="ows100PoxBehavior">
        <endpoint address="" contract="OgcToolkit.WebSample.Services.IOwsGetMethod" binding="webHttpBinding" behaviorConfiguration="poxBehavior" />
        <endpoint address="xml" contract="OgcToolkit.WebSample.Services.IOwsPostMethod" binding="webHttpBinding" behaviorConfiguration="poxBehavior" />
      </service>
      <service name="OgcToolkit.WebSample.Services.Csw" behaviorConfiguration="ows100PoxBehavior">
        <endpoint address="xml" contract="OgcToolkit.WebSample.Services.ICsw" binding="webHttpBinding" behaviorConfiguration="poxBehavior" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="poxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ows200PoxBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <ows200PoxFaultBehavior />
        </behavior>
        <behavior name="ows100PoxBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <ows100PoxFaultBehavior />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <owsFaultBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="owsFaultBehavior" type="OgcToolkit.Services.Ows.FaultBehaviorExtensionElement, OgcToolkit.Services" />
        <add name="ows100PoxFaultBehavior" type="OgcToolkit.Services.Ows.V100.PoxFaultBehaviorExtensionElement, OgcToolkit.Services" />
        <add name="ows200PoxFaultBehavior" type="OgcToolkit.Services.Ows.V200.PoxFaultBehaviorExtensionElement, OgcToolkit.Services" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
